<div class="row">
  <div class="col s8 offset-s2">
    <% @posts.reverse.each do |post| %>
    <div class="card white z-depth-4">
      <div class="card-content black-text">
        <h4 class="card-title">Post #<%= post.id %> -
          <%= post.title %></h4>
          <h6>Written by: <%= link_to post.user.email, "#" %></h6>
          <br />
          <p><%= post.content %></p>
          <br />
          <div class="card-action">
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
