
<h1>Contact Us</h1>

<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% elsif flash[:warning] %>
<div class="alert alert-danger"><%= flash[:warning] %></div>
<% else %>
<% end %>

<%= form_for :contact do |f| %>

<div class="field">
  <%= f.label 'From' %>
  <%= f.text_area :email%>
</div>
<div class="field">
  <%= f.label 'Body' %>
  <%= f.text_area :message%>
</div>

<div class="actions">
  <%= f.submit "Send", :class => 'btn'%>
</div>
<% end %>
